<template>
    <div>
        <section class="accordions">
            <!--
                <article class="accordion">
                    <div class="accordion-header toggle">
                    </div>
                    <div class="accordion-body">
                        <div class="accordion-content">
                            <div class="field" v-if="loaded">
                                <label for="">
                                </label>
                                <div class="control">
                                    <input id="" class="input" v-model="json">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            -->
            <article class="accordion is-active">
                <div class="accordion-header toggle">
                    {{ $t('Your instance') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <div class="field" v-if="loaded">
                            <label for="hostname" class="label" v-html="$t('Web address of your PeerTube instance (without {{- opentag}}http(s)://{{- endtag}})', { opentag: openCode, endtag: endCode })">
                            </label>
                            <div class="control">
                                <input id="hostname" class="input" v-model="json.hostname" :placeholder="json.hostname">
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_name" class="label">
                                {{ $t('Name of your instance') }}
                            </label>
                            <div class="control">
                                <input id="instance_name" class="input" v-model="json.instance.name">
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_short_description" class="label">
                                {{ $t('Short description of your instance') }}
                            </label>
                            <div class="control">
                                <textarea id="instance_short_description" class="textarea" v-model="json.instance.short_description"></textarea>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_description" class="label" v-html="$t('Long description of your instance (support {{- opentag}}Markdown{{- endtag}})', { opentag: markdownUrl })">
                            </label>
                            <div class="control">
                                <textarea id="instance_description" class="textarea" v-model="json.instance.description"></textarea>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_terms" class="label" v-html="$t('Terms of use (support {{- opentag}}Markdown{{- endtag}})', { opentag: markdownUrl })">
                            </label>
                            <div class="control">
                                <textarea id="instance_terms" class="textarea" v-model="json.instance.terms"></textarea>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_code_of_conduct" class="label" v-html="$t('Code of conduct (support {{- opentag}}Markdown{{- endtag}})', { opentag: markdownUrl })">
                            </label>
                            <div class="control">
                                <textarea id="instance_code_of_conduct" class="textarea" v-model="json.instance.code_of_conduct"></textarea>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_moderation_information" class="label" v-html="$t('Who moderates the instance? What is the policy regarding NSFW videos? Political videos? etc. (support {{- opentag}}Markdown{{- endtag}})', { opentag: markdownUrl })">
                            </label>
                            <div class="control">
                                <textarea id="instance_moderation_information" class="textarea" v-model="json.instance.moderation_information"></textarea>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_default_client_route" class="label">
                                {{ $t('Homepage') }}
                            </label>
                            <div class="select">
                                <select id="instance_default_client_route" v-model="json.instance.default_client_route">
                                    <option value="/videos/overview">
                                        {{ $t('Video overview') }}
                                    </option>
                                    <option value="/videos/trending">
                                        {{ $t('Trending videos') }}
                                    </option>
                                    <option value="/videos/recently-added">
                                        {{ $t('Recently added videos') }}
                                    </option>
                                    <option value="/videos/local">
                                        {{ $t('Local videos') }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_default_nsfw_policy" class="label">
                                {{ $t('Policy for displaying explicit videos (pornography, violent content…) on pages listing videos ("Overview", "Trend", "Recently added", "Local" pages)') }}
                            </label>
                            <div class="select">
                                <select id="instance_default_nsfw_policy" class="input" v-model="json.instance.default_nsfw_policy">
                                    <option value="do_not_list">
                                        {{ $t('Do not list explicit videos') }}
                                    </option>
                                    <option value="blur">
                                        {{ $t('List but blur the thumbnails') }}
                                    </option>
                                    <option value="display">
                                        {{ $t('Normally list explicit videos') }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('More informations about your instance') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <div class="field" v-if="loaded">
                            <label for="instance_creation_reason" class="label" v-html="$t('Why did you create this instance?')">
                            </label>
                            <div class="control">
                                <textarea id="instance_creation_reason" class="textarea" v-model="json.instance.creation_reason"></textarea>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_administrator" class="label" v-html="$t('Who is behind the instance? A single person? A non profit?')">
                            </label>
                            <div class="control">
                                <textarea id="instance_administrator" class="textarea" v-model="json.instance.administrator"></textarea>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_maintenance_lifetime" class="label" v-html="$t('How long do you plan to maintain this instance?')">
                            </label>
                            <div class="control">
                                <textarea id="instance_maintenance_lifetime" class="textarea" v-model="json.instance.maintenance_lifetime"></textarea>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_business_model" class="label" v-html="$t('How will you pay the PeerTube instance server? With you own funds? With users donations? Advertising?')">
                            </label>
                            <div class="control">
                                <textarea id="instance_business_model" class="textarea" v-model="json.instance.business_model"></textarea>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="instance_hardware_information" class="label" v-html="$t('If you want to explain on what type of hardware your PeerTube instance runs. For ex. “2 vCore, 2GB RAM…”')">
                            </label>
                            <div class="control">
                                <textarea id="instance_hardware_information" class="textarea" v-model="json.instance.hardware_information"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Admin account of your instance') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <div class="field" v-if="loaded">
                            <label for="root_password" class="label" v-html="$t('Password of the {{- opentag}}root{{- endtag}} account', { opentag: openCode, endtag: endCode })">
                            </label>
                            <p>
                                {{ $t('Please choose a strong password that you don’t use elsewhere') }}
                            </p>
                            <div class="control">
                                <input id="root_password" class="input" v-model="json.root_password">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Setting up email sending') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <p>
                            <button class="button is-info" v-on:click="smtpLocalhost">
                                {{ $t('Use the email daemon of your PeerTube server') }}
                            </button>
                        </p>
                        <div class="field" v-if="loaded">
                            <label for="smtp_hostname" class="label">
                                {{ $t('Email sending server') }}
                            </label>
                            <div class="control">
                                <input id="smtp_hostname" class="input" v-model="json.smtp.hostname">
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="smtp_port" class="label">
                                {{ $t('Port') }}
                            </label>
                            <div class="select">
                                <select id="smtp_port" v-model="json.smtp.port">
                                    <option value="25">25</option>
                                    <option value="465">465</option>
                                    <option value="587">587</option>
                                </select>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="smtp_username" class="label">
                                {{ $t('Username') }}
                            </label>
                            <div class="control">
                                <input id="smtp_username" class="input" v-model="json.smtp.username">
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="smtp_password" class="label">
                                {{ $t('Password') }}
                            </label>
                            <div class="control">
                                <input id="smtp_password" class="input" v-model="json.smtp.password">
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <div class="control">
                                <label class="checkbox">
                                    <input v-model="json.smtp.tls" type="checkbox">
                                    {{ $t('Use TLS?') }}
                                </label>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <div class="control">
                                <label class="checkbox">
                                    <input v-model="json.smtp.disable_starttls" type="checkbox">
                                    {{ $t('Disable StartTLS?') }}
                                </label>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="smtp_ca_file" class="label">
                                {{ $t('Path to the file of the certification authority') }}
                            </label>
                            <div class="control">
                                <input id="smtp_ca_file" class="input" v-model="json.smtp.ca_file">
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="smtp_from_address" class="label">
                                {{ $t('Email sender address') }}
                            </label>
                            <div class="control">
                                <input id="smtp_from_address" class="input" v-model="json.smtp.from_address">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Searching for videos') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <p>
                            {{ $t('Allows to search for videos or accounts by their URL, which may be on instances that are not federated with yours.') }}
                            <br>
                            {{ $t('When this feature is enabled, those who benefit from this feature will be able to "escape" from the instances followed by yours. This means that they will be able to follow channels, read videos or list videos of these instances not followed by yours.') }}
                        </p>
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.search.remote_uri.users" type="checkbox">
                                {{ $t('Allow this for registered users?') }}
                            </label>
                        </div>
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.search.remote_uri.anonymous" type="checkbox">
                                {{ $t('Allow this for anonymous visitors?') }}
                            </label>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Trending videos') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <div class="field" v-if="loaded">
                            <label for="trending_videos_interval_days" class="label">
                                {{ $t('Number of days on which trending videos will be calculated') }}
                            </label>
                            <div class="control">
                                <input id="trending_videos_interval_days" class="input" v-model.number="json.trending.videos.interval_days" type="number" min="1" step="1">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Contact form') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.contact_form.enabled" type="checkbox">
                                <span v-html="' ' + $t('Activate contact form? {{- opentag}}recommended{{- endtag}}', { opentag: openSuccessSpan, endtag: endSpan })"></span>

                            </label>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Registrations') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.signup.enabled" type="checkbox">
                                {{ $t('Open registrations?') }}
                            </label>
                        </div>
                        <div v-if="loaded && json.signup.enabled">
                            <div class="field" v-if="loaded">
                                <label for="signup_limit" class="label" v-html="$t('Maximum number of accounts (when this number is reached, registrations are disabled. For an unlimited number of accounts, put {{- opentag}}-1{{- endtag}})', { opentag: openCode, endtag: endCode })">
                                </label>
                                <div class="control">
                                    <input id="signup_limit" class="input" v-model.number="json.signup.limit" type="number" min="-1" step="1">
                                </div>
                            </div>
                            <div class="field" v-if="loaded">
                                <label class="checkbox">
                                    <input v-model="json.signup.requires_email_verification" type="checkbox">
                                    <span v-html="' ' + $t('Checking the email address? (requires a configured and functional mail server) {{- opentag}}recommended{{- endtag}}', { opentag: openSuccessSpan, endtag: endSpan })"></span>

                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Disk quotas') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <div class="field" v-if="loaded">
                            <label for="user_video_quota" class="label" v-html="$t('Default disk quota per user (for an unlimited quota, put {{- opentag}}-1{{- endtag}})', { opentag: openCode, endtag: endCode })">
                            </label>
                            <div class="field has-addons">
                                <div class="control">
                                    <input id="user_video_quota" class="input" v-model.number="json.user.video_quota" type="number" min="-1" :step="quotaStep">
                                </div>
                                <div class="control">
                                    <a class="button is-static">
                                        {{ humanizeQuota }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="field" v-if="loaded">
                            <label for="user_video_quota_daily" class="label" v-html="$t('Default daily disk quota per user (for an unlimited quota, put {{- opentag}}-1{{- endtag}})', { opentag: openCode, endtag: endCode })">
                            </label>
                            <div class="field has-addons">
                                <div class="control">
                                    <input id="user_video_quota_daily" class="input" v-model.number="json.user.video_quota_daily" type="number" min="-1" :step="dailyQuotaStep">
                                </div>
                                <div class="control">
                                    <a class="button is-static">
                                    {{ humanizeDailyQuota }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Transcoding (videos re-encoding)') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.transcoding.enabled" type="checkbox">
                                <span v-html="' ' + $t('Activate transcoding? {{- opentag}}recommended{{- endtag}}', { opentag: openSuccessSpan, endtag: endSpan })"></span>
                            </label>
                        </div>
                        <div v-if="loaded && json.transcoding.enabled">
                            <div class="field" v-if="loaded">
                                <label class="checkbox">
                                    <input v-model="json.transcoding.allow_additional_extensions" type="checkbox">
                                    <span v-html="' ' + $t('Allow additional extensions? This allows your users to upload.mkv, mov… files instead of just .mp4 files. {{- opentag}}recommended{{- endtag}}', { opentag: openSuccessSpan, endtag: endSpan })"></span>
                                </label>
                            </div>
                            <div class="field" v-if="loaded">
                                <label for="trancoding_threads" class="label" v-html="$t('How many CPU threads should be allocated to transcoding?')">
                                </label>
                                <div class="control">
                                    <input id="trancoding_threads" class="input" v-model.number="json.transcoding.threads" type="number" min="1" step="1">
                                </div>
                            </div>
                            <p>
                                {{ $t('Transcoding in several qualities lower than the quality of the original video allows visitors with low bit rates to enjoy the video smoothly.') }}
                            </p>
                            <div class="field" v-if="loaded">
                                <label class="checkbox">
                                    <input v-model="json.transcoding.resolutions['240p']" type="checkbox">
                                    <span v-html="' ' + $t('Transcode in {{quality}}p quality? {{- opentag}}recommended{{- endtag}}', { quality: 240, opentag: openSuccessSpan, endtag: endSpan })"></span>
                                </label>
                            </div>
                            <div class="field" v-if="loaded">
                                <label class="checkbox">
                                    <input v-model="json.transcoding.resolutions['360p']" type="checkbox">
                                    <span v-html="' ' + $t('Transcode in {{quality}}p quality? {{- opentag}}recommended{{- endtag}}', { quality: 360, opentag: openSuccessSpan, endtag: endSpan })"></span>
                                </label>
                            </div>
                            <div class="field" v-if="loaded">
                                <label class="checkbox">
                                    <input v-model="json.transcoding.resolutions['480p']" type="checkbox">
                                    <span v-html="' ' + $t('Transcode in {{quality}}p quality? {{- opentag}}recommended{{- endtag}}', { quality: 480, opentag: openSuccessSpan, endtag: endSpan })"></span>
                                </label>
                            </div>
                            <div class="field" v-if="loaded">
                                <label class="checkbox">
                                    <input v-model="json.transcoding.resolutions['720p']" type="checkbox">
                                    <span v-html="' ' + $t('Transcode in {{quality}}p quality? {{- opentag}}recommended{{- endtag}}', { quality: 720, opentag: openSuccessSpan, endtag: endSpan })"></span>
                                </label>
                            </div>
                            <div class="field" v-if="loaded">
                                <label class="checkbox">
                                    <input v-model="json.transcoding.resolutions['1080p']" type="checkbox">
                                    <span v-html="' ' + $t('Transcode in {{quality}}p quality? {{- opentag}}recommended{{- endtag}}', { quality: 1080, opentag: openSuccessSpan, endtag: endSpan })"></span>
                                </label>
                            </div>
                            <div class="field" v-if="loaded">
                                <label class="checkbox">
                                    <input v-model="json.transcoding.resolutions['2160p']" type="checkbox">
                                    <span v-html="' ' + $t('Transcode in {{quality}}p quality? {{- opentag}}recommended{{- endtag}}', { quality: 2160, opentag: openSuccessSpan, endtag: endSpan })"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Importing external videos') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <p>
                            {{ $t('Allow your users to import remote videos (from YouTube, from torrent…)?') }}
                        </p>
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.import.videos.http.enabled" type="checkbox">
                                <span v-html="' ' + $t('Allow for videos accessible in HTTP or any site supported by {{- opentag}}youtube-dl{{- endtag}}?', { opentag: ibyoutubeDlUrl })"></span>
                            </label>
                        </div>
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.import.videos.torrent.enabled" type="checkbox">
                                {{ $t('Allow via torrent (via URI magnet or torrent file)?') }}
                            </label>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    {{ $t('Federation') }}
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.followers.instance.enabled" type="checkbox">
                                {{ $t('Allow or not other instances to follow yours') }}
                            </label>
                        </div>
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.followers.instance.manual_approval" type="checkbox">
                                {{ $t('Whether or not an administrator must manually validate a new follower') }}
                            </label>
                        </div>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-header toggle">
                    Apticron
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        <p>
                            {{ $t('Apticron is a program that runs daily on your server and notifies you by email if package updates are available.') }}
                        </p>
                        <div class="field" v-if="loaded">
                            <label class="checkbox">
                                <input v-model="json.apticron.enabled" type="checkbox">
                                <span v-html="' ' + $t('Install apticron? {{- opentag}}recommended{{- endtag}}', { opentag: openSuccessSpan, endtag: endSpan })"></span>
                            </label>
                        </div>
                        <div v-if="loaded && json.apticron.enabled">
                            <div class="field" v-if="loaded">
                                <label for="apticron_email" class="label" v-html="$t('Recipient for apticron’s emails ({{- opentag}}root{{- endtag}} is ok if you configured a real address in {{- opentag}}/etc/aliases{{- endtag}}', { opentag: openCode, endtag: endCode })">
                                </label>
                                <div class="control">
                                    <input id="apticron_email" class="input" v-model="json.apticron.email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <div class="buttons">
            <a :href="pillar" class="button is-info" download="peertube.yml">
                {{ $t('Download configuration') }}
            </a>
            <button class="button is-info" v-on:click="loadConfFromServer">
                {{ $t('Reset') }}
            </button>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import bulmaAccordion from '../../node_modules/bulma-extensions/bulma-accordion/dist/js/bulma-accordion.min.js'
import filesize from '../../node_modules/filesize/lib/filesize.es6.js'
let yaml = require('js-yaml')
export default {
    name: 'Form',
    data() {
        return {
            json: {},
            loaded: false,
            openCode: '<code>',
            endCode: '</code>',
            openSuccessSpan: '<span class="tag is-success">',
            endSpan: '</span>',
            markdownUrl: '<a href="https://fr.wikipedia.org/wiki/Markdown" target="_blank" rel="noreferrer">',
            youtubeDlUrl: '<a href="https://rg3.github.io/youtube-dl/supportedsites.html" target="_blank" rel="noreferrer">',
            accordions: []
        }
    },
    computed: {
        yml: function() {
            return yaml.safeDump({ peertube: { my_server: this.json } }, { sortKeys: true })
        },
        pillar: function() {
            return window.URL.createObjectURL(
                new Blob([this.yml], { type : 'application/x-yaml' })
            );
        },
        humanizeQuota: function () {
            if (this.json.user.video_quota < 0)
                return this.$t('unlimited')
            return filesize(this.json.user.video_quota, { base: 10, locale: true, unix: true })
        },
        quotaStep: function () {
            if (this.json.user.video_quota < 0)
                return 1
            return 1000000
        },
        humanizeDailyQuota: function () {
            if (this.json.user.video_quota_daily < 0)
                return this.$t('unlimited')
            return filesize(this.json.user.video_quota_daily, { base: 10, locale: true, unix: true })
        },
        dailyQuotaStep: function () {
            if (this.json.user.video_quota_daily < 0)
                return 1
            return 1000000
        }
    },
    created() {
        this.loadConfFromServer()
    },
    mounted() {
        this.accordions = bulmaAccordion.attach()
    },
    methods: {
        smtpLocalhost: function () {
            this.json.smtp.hostname         = 'localhost'
            this.json.smtp.port             = 25
            this.json.smtp.username         = null
            this.json.smtp.password         = null
            this.json.smtp.tls              = false
            this.json.smtp.disable_starttls = true
            this.json.smtp.ca_file          = null
        },
        loadConfFromServer: function () {
            axios.get('pillar.sls')
                .then(response => {
                    this.loaded = true
                    this.json   = yaml.safeLoad(response.data).peertube.my_server
                })
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
.buttons
    margin-top: 10px
.buttons .button
    margin-right: 3px
</style>
